<!doctype html>
<html lang="en">
  <head>
    <title>three.js canvas - lines - random</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <style>
      body {
      background-color: #FFFFFF;
      margin: 0px;
      overflow: hidden;
      }

      a {
      color:#0078ff;
      }
    </style>
  </head>
  <body>
    <script src="js/Three.js"></script>
    <canvas id="tutorial" width="800px" height="300px"></canvas>
    <div id="test"></div>
  </body>
</html>
