<_within file="application.html">

  <div id="content">
    <div id="display">
      <h1 id="header">My DISPLAY!</h1>
      <div class="input">
        <label id="name-input-label">
          <input id="name-input" size="30" type="text"/>
        </label>
        <div id="name-input-error" class="small error">&nbsp;</div>
      </div>
      <input id="next-button" class="button green" type="button" value="Next">
      <input id="back-button" class="button green" type="button" value="Back">
    </div>
  </div>
  
</_within>
