.cm-s-ngc span.cm-atom       { color: #845dc4; }
.cm-s-ngc span.cm-attribute  { color: #ff80e1; }
.cm-s-ngc span.cm-bracket    { color: #ff9d00; }
.cm-s-ngc span.cm-builtin    { color: #000000; }
.cm-s-ngc span.cm-comment    { color: #7777ff; }
.cm-s-ngc span.cm-def        { color: #ee77aa; }
.cm-s-ngc span.cm-error      { color: #9d1e15; }
.cm-s-ngc span.cm-keyword    { color: #ffee80; }
.cm-s-ngc span.cm-meta       { color: #50fefe; }
.cm-s-ngc span.cm-number     { color: #ffd0d0; }
.cm-s-ngc span.cm-operator   { color: #dd1111; }
.cm-s-ngc span.cm-string     { color: #3ad900; }
.cm-s-ngc span.cm-tag        { color: #9effff; }
.cm-s-ngc span.cm-variable   { color: #50fe50; }
.cm-s-ngc span.cm-variable-2 { color: #ee00ee; }

.activeline { background: #e8f2ff !important; } 

#main { position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	border: 1px solid black; }

#editor { position: absolute;
	  top: .5em;
	  right: .5em;
	  bottom: .5em;
	  width: 23em;
	  border-bottom: 1px solid black; 
	  border-left: 1px solid black; 
	  border-top: 1px solid black; 
	}

.CodeMirror { height: 100% }
.CodeMirror-scroll { height: 100%; }

#canvas { position: absolute;
	  border: 1px solid black;
	  right: 24em;
	  top: .5em;
	  left: .5em;
	  bottom: .5em;
	  background: #e8f2ff; }

#console { position: absolute;
	   bottom: .5em;
	   left: .5em;
	   right: .5em;
	   border: 1px solid black; 
	   height: 5em; }

